.u-section-1 .u-sheet-1 {
  min-height: 524px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2806px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 476px;
    margin-right: 14px;
    margin-left: 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}